{% block stylesheets %}

	<link rel="stylesheet" type="text/css" href="//185.13.39.182/bootstrap/css/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="//185.13.39.182/fonts/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="//185.13.39.182/fonts/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//185.13.39.182/fonts/line-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//185.13.39.182/fonts/fontawesome5-overrides.min.css">
	<link rel="stylesheet" type="text/css" href="//185.13.39.182/css/styles.min.css">

	{{ encore_entry_link_tags('app') }}


{% endblock %}

{% block body %}
	<div id="app"></div>
{% endblock %}


{% block javascripts %}
	<script src="http://185.13.39.182/js/jquery.min.js"></script>
	<script src="http://185.13.39.182/bootstrap/js/bootstrap.min.js"></script>
	{{ encore_entry_script_tags('app') }}
{% endblock %}
