{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/bootstrap.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/fontawesome-all.min.css">
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/line-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/fontawesome5-overrides.min.css">
	<link rel="stylesheet" type="text/css" href="https://nizza-etancheite.fr/application/styles.min.css">

	{{ encore_entry_link_tags('app') }}


{% endblock %}

{% block body %}
	<div id="app"></div>
{% endblock %}


{% block javascripts %}
	<script src="https://nizza-etancheite.fr/application/jquery.min.js"></script>
	<script src="https://nizza-etancheite.fr/application/bootstrap.min.js"></script>
	{{ encore_entry_script_tags('app') }}
{% endblock %}
